
* {
  /* border: 2px solid blue; */
  padding: 0px;
  margin: 0px;
font-family: sans-serif;
font-weight: lighter;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  background-color: rgb(20 184 166);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  display: flex;
  height: 90%;
}

.welcome-message {
  font-size: 45px;
}


.widget-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  width: 80%;
}

.widget {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: rgb(250 250 249);
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  align-self: center;
  font-size: 150%;
  font-weight: 500;
}

.today-hydration-flex {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.today-hydration {
  font-size: 55px;
}

.sleep-widget, .weekly-widget {
  /* justify-content: space-between; */
}

.today-sleep-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
  height: 70%;
  width: 80%;
  align-self: center;
}

.sleep-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgb(213, 230, 247);
  border-radius: 5px;
  padding: 10px;
}

.today-sleep-title, .today-sleep {
  align-self: center;
}

.weekly-stats, .today-sleep {
  height: 100%;
  align-self: center;
  margin-top: 10px;
}

.weekly-widget,
.weekly-stats {
  height: 95%;
}

.hydration-table,
.sleep-table {
  border: 1px solid rgb(213, 230, 247);
  text-align: center;
  width: 300px;
  border-radius: 5px;
}

th {
  font-weight: bolder;
}

table tr:last-child td:first-child {
  padding: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  padding: 10px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  /* margin-bottom: 20px; */
}

.user-name {
  font-size: 30px;
  align-self: center;
}

.compare-step-goal-chart {
  display: flex;
  height: 30%;
}

.avg-step-goal {
  align-self: center;
}


.user-friends {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 40%;
}

.friend-list {
  /* align-self: center; */
}
