
* {
  border: 2px solid blue;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

main {
  display: flex;
  height: 90%;
}

.welcome-message {
  font-size: 45px;
}


.widget-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  width: 80%;
}

.widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  width: 100%;
  border-radius: 10px;
}

.title {
  align-self: center;
  font-size: 32px;
  font-weight: 500;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  /* margin-bottom: 20px; */
}

.user-name {
  font-size: 30px;
  align-self: center;
}

.compare-step-goal-chart {
  display: flex;
  height: 30%;
}

.avg-step-goal {
  align-self: center;
}

.friend-list {
  align-self: center;
}

.user-friends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
