
* {
  border: 2px solid blue;
  padding: 0px;
  margin: 0px;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

main {
  display: flex;
  height: 90%;
}

.widget-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  grid-gap: 20px;
  padding: 20px;
  width: 70%;
}

.profile-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%; 
}

.user-friends {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.today-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 90%;
  border-radius: 10px;
}
  

.user-name {
  font-size: 25px;
}

.welcome-message {
  font-size: 35px;
}



